/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100%;
}

body {
    background: #d3e1f7;
    -webkit-font-smoothing: antialiased !important;
}

body, input, button {
    font-family: 'Oswald', 'Roboto', Arial, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* Page styles */

.container {
    margin: 80px auto 0;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    background: #FFF;
    margin-top: 50px;
    border-radius: 4px;
    padding: 30px;
}

/* toolbar */

.toolbar {
    display: flex;
}

.toolbar button {
    border: none;
    background: none;
    padding: 8px 8px;
    margin-right: 5px;
    font-size: 16px;
    color: rgb(19, 19, 19);
    cursor: pointer;
}

.toolbar .css-b62m3t-container {
    width: 110px;
}

.toolbar .css-1s2u09g-control {
    border: none;
}

.toolbar .css-1pahdxg-control {
    border: none;
    box-shadow: none;
}

.toolbar .css-1pahdxg-control:hover {
    border: none;
}

.toolbar .css-1okebmr-indicatorSeparator {
    display: none;
}

section.textContainer {
    padding: 10px;
}

section.textContainer ul, ol {
    margin-left: 20px;
}
